html {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
body {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;

  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
}
.app {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem;
}

h2 {
  margin: 0;
  padding-top: 70px;
}

.player button, .player button:focus {
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.player {
  width: calc(100vw - 16px);
  padding: 8px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 8px;
  opacity: 0.9;
  justify-content: center;
}
.player button, .player audio {
  border-radius: 44px;
  background-color: #f1f3f4;
  outline: none;
  border: none;
  min-width: 54px;
  height: 54px;
}
.player button.active {
  background-color: #6e91a3;
}

.transcript {
  display: flex;
  flex-direction: column;
}
.load {
  display: flex;
  align-items: stretch;
  margin-top: 2rem;
  gap: 8px;
}
.load input {
  flex: 1;
}

.transcript .exchange {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.transcript.playing .exchange {
  user-select: none;
}
.transcript .exchange .meta {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}
.transcript .exchange .meta .speakerName {
  font-weight: bold;
  text-align: left;
  flex: 0 0 80px;
}
.transcript .exchange .meta .time {
  text-align: right;
  flex: 1;
}

.transcript .exchange .content {
  text-align: left;
}
.transcript .exchange .content .text {
  margin: 0;
}
.transcript .exchange .content .text .word {
  cursor: pointer;
}
.transcript .exchange .content .text .word:hover {
  background-color: #8e9fff50;
}

.transcript .exchange .content .text .current {
  color: black;
  background-color: yellow;
}

@media (prefers-color-scheme: dark) {
  .player button, .player audio {
    opacity: 1;
    background-color: #484848;
  }
}

